[submodule "thunderchez"]
	path = thunderchez
	url = https://github.com/ovenpasta/thunderchez
[submodule "glfw"]
	path = glfw
	url = https://github.com/chenguangqi/glfw
[submodule "phoenix-libs"]
	path = phoenix-libs
	url = git@github.com:corrodedlabs/phoenix-libs.git
[submodule "chez-gl"]
	path = chez-gl
	url = https://github.com/steven741/chez-gl/
